.select__size {
  display: flex;
  width: 135px;
  height: 68px;
  border-radius: 36px;
  background: #ffffff;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}
