.header__container {
  display: flex;
  justify-content: space-between;
  font-family: Avenir;
  font-size: 40px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 40px;
}
.header__container > span {
  font-size: 16px;
}

.header__button--logout {
  font-size: 16px;
  border-radius: 36px;
  background: none;
  height: 40px;
  width: 100px;
  border-width: 1px;
  display: inline-block;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 36px;
  padding-right: 12px;
  font-size: 0.9rem;
  padding-left: 12px;
}
