.app__container {
  display: flex 1;
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 820px) {
  .app__container {
    padding-left: 2%;
    padding-right: 2%;
  }
}
